//Sticky Footer
body, html {
	height: 100%;
}

body {
	background-color: #ee5652;
	font-family: "calibre";
	padding-bottom: -50px;
}

.footer {
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #fff;
}

.description{
	font-size: 18px;
}


.wrapper {
	background-color: #f0f0f0;
}

.body{
	background-color: #fff;
}

.bottom-buttons{
	margin-right: 16px;
	margin-left: 4px;
}
